
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
     <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{profile.profile_photo.url}}" alt="Card image cap">
     </div>
    </div>
    <div class="col-md-8">
      <h4>
        {{profile.owner.username}}
      </h4>
      <h6>
        {% autoescape on %}
          {{profile.bio| safe}}
        {% endautoescape %}
      </h6>
      <a href="" class="btn btn-primary">
        Edit Profile
      </a>
    </div>
  </div>
  <div class="row">
    <a href="{%url 'new-post'%}" class="btn btn-primary">
      Make a post
    </a>
    
  </div>
</div>
{% endblock %}